@model CMDBuddyFinal.Models.Usuario

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Login de Usuarios</h2>
@using (Html.BeginForm("Index", "Painel", FormMethod.Post))
{

    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-6" })
    <br />
    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control col-4" } })
    <br />
    @Html.LabelFor(model => model.Userpass, htmlAttributes: new { @class = "col-6" })
    <br />
    @Html.PasswordFor(model => model.Userpass, htmlAttributes: new { @class = "form-control col-4" })
    <br />
    <input type="submit" value="Login" class="btn btn-primary" />
    <br />

}

@Html.ActionLink("Cadastre-se!", "Cadastra", "Login", null, null)
@*@Html.ActionLink("Cadastre-se!", "Cadastra", "Login", new { @class = "btn btn-primary" })*@
