<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Commander Buddy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     <nav class="navbar navbar-dark fixed-top" style="background-color: #1A67CF; ">
        <a class="navbar-brand" href="#">CommanderBuddy</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse text-center" id="navbarsExample01" style="background-color: #005bc5">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" @Html.ActionLink("Home", "Index", "Home")</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" @Html.ActionLink("Sobre", "About", "Home")</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" @Html.ActionLink("Contato", "Contact", "Home")</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" @Html.ActionLink("Login e Cadastro", "Index", "Login")</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
